# Type of database to use
# Current values include: mongo
DATABASE_TYPE=mongo

DATABASE_HOST=mongo
DATABASE_PORT=27017

# Uncomment and set if needed
#DATABASE_USERNAME=username
#DATABASE_PASSWORD=password

# CORS allowed origins
WHITELISTED_ORIGINS = "http://localhost:3000,http://localhost:8080"

# What the client will make requests to
REACT_APP_BACKEND_URL=http://localhost:8080

# Where the client frontend can be accessed
FRONTEND_URL=http://localhost:3000