.postcard {
    display: flex;
    background-color: var(--background-secondary);
    margin-bottom: 5px;
}

.postcard-content {
    padding: 10px;
    color: white;
    width: 100%;
    text-decoration: none;
    
}

.postcard-info {
    display: flex;
    font-size: 0.75em;
    font-style: italic;

}

.postcard-subforum {
    margin-right: 35px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 350%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.postcard-subforum:hover {
    color: var(--primary);
}


.postcard-creation {
    border-bottom: 1px solid #fff;
}

.postcard-title {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.postcard-title:hover {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}