#loginsignup-content {
    width: 500px;
}

.loginsignup-tab {
    color: white;
}

.loginsignup-form-child {
    margin: 5px 80px !important;
}

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}
  