.formcontainer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.formcontainer-content {
    background-color: var(--background-secondary);
    border-radius: 60px;
    box-shadow: 0px 4px black;
}