body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #1f1f1f;
  --background-secondary: #333;
  --primary: #6600FF;
  --primary-darker: #4300a8;
  --green: #00ff88ef;
  --red: #c50000;

  --toastify-color-dark: var(--background);
  --toastify-toast-width: auto;

  --toastify-color-error: var(--red);

  --mui-palette-primary-main: var(--primary) !important;
  --mui-palette-action-active: white !important;
  --mui-palette-text-secondary: white !important;
  --mui-palette-primary-mainChannel: white !important;
}