#header {
    border-bottom: 2px white solid;
    display: flex;
    justify-content: space-between;
}

#header-title {
    color: white;
    font-size: 35px;
    text-decoration: none;
    margin-left: 20px;
}